* {margin:0}
  
body {
            font-family:arial,segoe ui;   
}
  
.wrap {
            width:1000px;
            margin:0 auto;          
} 
             
.header {
            width:auto;
            background:black; 
            padding:20px;
            color:#fff;
}   
    .clear {clear:both}   
     
.menu {
            width:auto;
            background:#000;
            padding:5px 20px;
            color:#FFF;
}    

div .menu ul{
      overflow: hidden;
      list-style: none;

}

div .menu ul li{
     float: left;
     padding: 0 10px;
}
div .menu ul li a{
      color: #FFFFFF;
}  
.main {
            width:100%;
            background:#6F9;
}
  
   
  
.content {
            float:left;
            width:96%;
            background:#800000;
            padding:2%; 
            min-height:400px;
}
  
         
  

  
.footer {
            width:auto;
            height:auto;
            padding:5px 10px;
            background:#000000;
            color:#fff;
  
}
.datadiri{
      float: center;
}